<section class="container-fluid bg-commom-question">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <h2 class="text-white text-center">Perguntas frequentes</h2>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5 pt-4">
        <span class="text-white">O que é a imoveistock?</span>
        <img *ngIf="!question1" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(1)">
        <img *ngIf="question1" src="../../../assets/icons/times.svg" class="animate__animated animate__rotateIn" height="18" style="cursor: pointer;"
             (click)="openQuestion(1)">
      </div>
      <div *ngIf="question1" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
       <li>
         <ul>
           <p class="text-white text-justify">Somos um stock de possibilidades para transformar captação em negócio.
             Captamos em favor das imobiliárias! Um modelo fantástico e inovador que chega para favorecer e fomentar todo o ecossistema do mercado imobiliário.
             Nossa tecnologia une as principais pontas desse tabuleiro, satisfazendo compradores e vendedores numa experiência jamais vista!
           </p>
         </ul>
       </li>
      </div>
      <div class="div-line-common-question"></div>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5">
        <span class="text-white">Quem são os parceiros da imoveistock?</span>
        <img *ngIf="!question2" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(2)">
        <img *ngIf="question2" src="../../../assets/icons/times.svg" height="18" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(2)">
      </div>
      <div *ngIf="question2" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
        <li>
          <ul>
            <p class="text-white text-justify">Mapeamos em Curitiba cerca de 1.200 imobiliárias, já avançamos sobre 300 delas, a idéia é ampliar ainda mais esse bloco visando maior conectividade e
              velocidade nos negócios imobiliários.</p>
          </ul>
        </li>
      </div>
      <div class="div-line-common-question"></div>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5">
        <span class="text-white">Quero visitar um imóvel da imoveistock. Como faço?</span>
        <img *ngIf="!question3" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(3)">
        <img *ngIf="question3" src="../../../assets/icons/times.svg" height="18" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(3)">
      </div>
      <div *ngIf="question3" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
        <li>
          <ul>
            <p class="text-white text-justify">Para visitar um imóvel da imoveistock, basta acessar o anúncio do imóvel, clicar no botão "Agendar visita" enviar o link para o cliente,
              solicitar que ele selecione a opção ‘’possuo o meu corretor’’, e pronto! O agendamento será feito e o atendimento será vinculado ao corretor da sua imobiliária.
              Lembrando que nessas visitas o hosts da imoveistock estará junto para condução.</p>
          </ul>
        </li>
      </div>
      <div class="div-line-common-question"></div>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5">
        <span class="text-white">Com quem farei a visita em um imóvel da imoveistock?</span>
        <img *ngIf="!question4" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(4)">
        <img *ngIf="question4" src="../../../assets/icons/times.svg" height="18" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(4)">
      </div>
      <div *ngIf="question4" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
        <li>
          <ul>
            <p class="text-white text-justify">As visitas são sempre acompanhadas pelo hosts de atendimento da imoveistock.
              Ele é corretor, e estará ali para apresentar o imóvel com maior nível de detalhes possível, além de trazer informações pertinentes à negociação. </p>
          </ul>
        </li>
      </div>
      <div class="div-line-common-question"></div>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5">
        <span class="text-white">Como funciona o processo de proposta de um imóvel na imoveistock?</span>
        <img *ngIf="!question5" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(5)">
        <img *ngIf="question5" src="../../../assets/icons/times.svg" height="18" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(5)">
      </div>
      <div *ngIf="question5" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
        <li>
          <ul>
            <p class="text-white text-justify">É muito simples! O envio de propostas é feito na plataforma da imoveistock! Lembrando que você pode auxiliar o cliente na elaboração,
              mas o envio deve ser feito pelo celular dele. </p>
          </ul>
        </li>
      </div>
      <div class="div-line-common-question"></div>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5">
        <span class="text-white">Quem cuida da elaboração do contrato?</span>
        <img *ngIf="!question6" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(6)">
        <img *ngIf="question6" src="../../../assets/icons/times.svg" height="18" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(6)">
      </div>
      <div *ngIf="question6" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
        <li>
          <ul>
            <p class="text-white text-justify">A imoveistock é a plataforma centralizadora, somos nós que emitimos a minuta do contrato para assinatura entre as partes.
              Certamente vamos precisar do seu auxílio para envio de alguns documentos necessários para esse avançar. A idéia é sermos rápidos e eficazes e contamos com seu apoio.</p>
          </ul>
        </li>
      </div>
      <div class="div-line-common-question"></div>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5">
        <span class="text-white">Quem paga as certidões dos vendedores?</span>
        <img *ngIf="!question7" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(7)">
        <img *ngIf="question7" src="../../../assets/icons/times.svg" height="18" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(7)">
      </div>
      <div *ngIf="question7" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
        <li>
          <ul>
            <p class="text-white text-justify">A responsabilidade de pagamento das certidões é do comprador.
              A imoveistock visando agilizar o processo solicita as certidões, mas o pagamento/reembolso será cobrado do comprador. E você nos auxiliará para que o
              cliente tenha ciência dessa regra.</p>
          </ul>
        </li>
      </div>
      <div class="div-line-common-question"></div>
      <div class="d-flex align-items-center justify-content-between px-3 mt-5">
        <span class="text-white">Como funciona o pagamento da comissão?</span>
        <img *ngIf="!question8" src="../../../assets/icons/some.svg" height="20" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(8)">
        <img *ngIf="question8" src="../../../assets/icons/times.svg" height="18" style="cursor: pointer;" class="animate__animated animate__rotateIn"
             (click)="openQuestion(8)">
      </div>
      <div *ngIf="question8" class="animate__animated animate__fadeInUp  bl-gray d-flex mt-3 px-3">
        <li>
          <ul>
            <p class="text-white text-justify">Conforme o nível de assinatura que sua imobiliária contrata conosco a quota parte da comissão pode chegar
              até <b>70%</b>. A imoveistock centraliza os pagamentos e faz os splits após a assinatura da escritura pública de compra e venda ou da assinatura do contrato
              de financiamento junto ao agente bancário. </p>
          </ul>
        </li>
      </div>
      <div class="div-line-common-question"></div>
    </div>
  </div>
</section>
