<section class="container-fluid section-import d-flex justify-content-center">
    <div class="row row-block pr-0 max-w-1700">
        <div class="col-lg-7 col-camera-men col-full text-align-center">
            <div class="w-100 important-img-text text-left">
                <h2 class="text-dark pt-lg-0 fw-500 font-size-34 line-44 pt-5 mt-lg-0 mt-5">
                    Sabemos como uma boa <br/> imagem é importante
                </h2>
                <p class="pr-lg-5 fw-400 font-size-18 line-23 text-dark mt-4">
                    E é por isso que prezamos por ter os melhores<br/> fotográfos ao nosso lado. Se quer fazer parte do<br/> nosso time, temos uma ótima proposta para você.
                </p>
            </div>
            <div class="w-100 important-img-text-mobile text-left">
                <h2 class="text-dark pt-lg-0 fw-700 font-size-24 line-31 pt-5 fisrst-title-about">
                    O que nossos <br/>fotógrafos dizem?
                </h2>
                <p class="pr-lg-5 fw-400 font-size-18 line-23 text-dark mt-4">
                    Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh magna. Proin risus erat, fringilla vel purus.
                </p>
            </div>
            <img src="../../../assets/image/camera-men.png"class="pt-5 rounded-3 w-100"/>
        </div>
        <div class="col-lg-5 col-full d-flex flex-column justify-content-center px-lg-1">
           <div class="row mr-0">
            <div class="col-lg-12 mb-4">
                <div class="card-illustration-top border-5">
                    <div class="row row-import h-100 align-items-end">
                        <div class="col w3-white border-5 m-3 w-100  h-fit p-4 d-flex align-items-center justify-content-between">
                            <p class="fw-600 d-grid m-0 font-size-22 line-31 text-darkblue">
                                Gustavo George
                                <br/>
                                <span class="fw-400 font-size-14 line-23 text-darkblue">Curitiba. PR</span>
                            </p>
                            <img src="../../../assets/icons/photo.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-illustration-down border-5">
                    <div class="row  h-100 align-items-center">
                        <div class="col-12 text-align-left h-fit px-5">
                            <img src="../../../assets/image/asian-men.png" class="border-100"/>
                            <p class="d-grid pt-4 fw-800 font-size-22 line-31 text-light">
                                Gustavo George 
                                <span class="fw-400 font-size-16 line-26">
                                    O grande volume de trabalho torna essa parceria muito atraente, tudo muito prático, objetivo e moderno através da plataforma
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>