<section style="padding: 10rem 0;" class="bg-paisage container-fluid ">

    <div class="row p-0 m-0">
      <div class="col-12 p-0 m-0">
        <div class="row mx-5 row-block d-flex row-card-info mx-4 pad-top-11 pad-bottom-17">
          <div class="col-5 col-full align-self-center">
            <p class="fw-700 font-size-40 text-left title-how-sub line-50 text-light">
                Como fazer o <br/> cadastro e acessar <br/> minha conta
            </p>
          </div>
          <div class="col-3 col-full border-5 w3-white py-4 px-4 mx-3">
            <img src="../../../assets/icons/iphone.png" class="py-3" />
            <p class="fw-500 font-size-20 line-24 text-dark py-2">
              Basta fornecer o seu número de celular, <br />
              preencher algumas informações e pronto!
            </p>
            <span class="fw-500 font-size-20 line-26 text-blue py-2">
                Faça já seu cadastro.
            </span>
          </div>
          <div class="col-3 col-full py-4 rounded-2 w3-white px-4">
            <img src="../../../assets/icons/pass.png" class="py-5" />
            <p class="fw-700 font-size-16 line-14 color-purple">
              Para entrar na sua conta, é só informar o celular cadastrado e você
              receberá um código de acesso.
            </p>
            <span class="fw-500 font-size-20 line-26 text-blue py-2">
                Sem senha, simples e descomplicado.
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  