<section style="padding: 6rem 0 0rem" class="container align-items-center justify-content-center">
    <h4 class="fw-500 why-photograph-text font-size-34 line-44 text-dark">
        Por que ser um Fotógrafo  <br/>Parceiro na imoveistock?
    </h4>
    <div class="row py-5 my-5 h-100 mx-0">
        <div class="col-sm row-block d-flex">
             <div class="bg-light card-photo mx-3 py-5 px-4">
                <img src="../../../assets/icons/camera.png" class="py-3">
                <p class="m-0 line-23 fw-400 text-dark font-size-18" >
                    Além de ganhar dinheiro fotografando imóveis, você também pode receber comissão por participação nas indicações.
                </p>
             </div>
             <div class="bg-light card-photo mx-3 py-5 px-4">
                <img src="../../../assets/icons/iphone.png" class="py-3">
                <p class="m-0 line-23 fw-400 text-dark font-size-18" >
                    Aplicativo exclusivo para que você receba suas sessões de foto.
                </p>
             </div>
             <div class="bg-light card-photo mx-3 py-5 px-4">
                <img src="../../../assets/icons/addcontact.png" class="py-3">
                <p class="m-0 line-23 fw-400 text-dark font-size-18" >
                    Você dono do seu próprio horário. Escolha quantos horários quer liberar. Quanto mais sessões realizar, mais você recebe.                </p>
             </div>
             <div class="bg-light card-photo mx-3 py-5 px-4">
                <img src="../../../assets/icons/group.png" class="py-3">
                <p class="m-0 line-23 fw-400 text-dark font-size-18" >
                    Liberdade de parceria. Nosso contrato não tem exclusividade, assim você fica livre para continuar atendendo seus clientes.
                </p>
             </div>
        </div>
    </div>
</section>
