<section style="padding: 2rem 0 10rem;" class="container-fluid ">
    <div class="row row-swiper-desktop pt-5 justify-content-center">
        <div class="col-12 pr-0">
          <p class="fw-500 container font-size-34 line-44 text-blue">
            O que nossos fotógrafos dizem:
          </p>
        </div>
        <div class="col-12 pr-0">
            <swiper 
            [slidesPerView]="1"
            [spaceBetween]="30"
            [pagination]="true"
            [navigation]="true"
            class="h-100">
            <ng-template class="mt-5" swiperSlide>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card person1"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Celso Junqueira
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        "Facilita muito as rotas otimizadas da imoveistock: é uma mão na roda. Super produtividade todos os dias e maiores ganhos no final do mês."
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card person2"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Felipe Delledone
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        "Incrível a tecnologia da plataforma, todos os dados ali, rotas inteligentes e total controle dos jobs feitos e a fazer."
                      </p>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card person3"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Cris Puppo
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        "Nossa que show trabalhar com a imoveistock, estou muito feliz com a quantidade de jobs, e com toda essa novidade tecnológica."</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="mt-5" swiperSlide>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card person1"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Celso Junqueira
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        "Facilita muito as rotas otimizadas da imoveistock: é uma mão na roda. Super produtividade todos os dias e maiores ganhos no final do mês."
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card person2"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Felipe Delledone
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        "Incrível a tecnologia da plataforma, todos os dados ali, rotas inteligentes e total controle dos jobs feitos e a fazer."
                      </p>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card person3"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Cris Puppo
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        "Nossa que show trabalhar com a imoveistock, estou muito feliz com a quantidade de jobs, e com toda essa novidade tecnológica."</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
         
          </swiper>
        </div>
    </div>
</section>