<section style="padding: 10rem 0;" class="container-fluid ">
    <div class="row row-swiper-desktop pt-5 justify-content-center">
        <div class="col-12 pr-0">
          <p class="fw-500 container font-size-34 line-44 text-blue">
            O que nossos fotógrafos dizem:
          </p>
        </div>
        <div class="col-12 pr-0">
            <swiper 
            [slidesPerView]="1"
            [spaceBetween]="30"
            [pagination]="true"
            [navigation]="true"
            class="h-100">
            <ng-template class="mt-5" swiperSlide>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="mt-5" swiperSlide>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="mt-5" swiperSlide>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="mt-5" swiperSlide>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template class="mt-5" swiperSlide>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card-swiper border-5 bg-light">
                      <div class="face-card"></div>
                      <h2 class="text-purple fw-700 font-size-16 line-24 py-3">
                        Paulo Victor
                       </h2>
                      <p class=" fw-400 font-size-16 line-23 text-dark">
                        Cras nisi tellus, eleifend quis venenatis nec, rhoncus vel dolor. Nulla dignissim facilisis nisl, sit amet luctus ligula mollis nec.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </swiper>
        </div>
    </div>
</section>