/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.scss";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans' !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #01FF5F !important;
}


select:focus {
    outline: none !important;
    box-shadow: none !important;
}

option:focus {
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus,
input:focus {
    box-shadow: 0 0 0 0 !important;
    outline: none !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.first-space-navbar {
    background-color: #01FF5F !important;
    padding-left: 194px !important;
    display: flex !important;
    align-items: center !important;
    height: 117px !important;
}

.bg-header {
    background-image: url(./assets/image/img-header.png) !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 1100px !important;
}

.navbarCustom {
    height: 117px !important;
}

.img-logo-name {
    height: 35px !important;
    margin-left: 40px !important;
}

.img-logo {
    height: 51px !important;
}


.margin-about-component {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}

.bl-gray {
    border-left: 1px solid gray;
}

.border-bottom-none {
    border-bottom: 0px !important;
}

.card-left-about {
    width: 522px !important;
}

.card-header-purple {
    max-width: 671.52px !important;
    padding: 53px !important;
    color: white !important;
}


.custom-content-header {
    min-height: calc(38vh - 100px);
    max-height: 702px !important;
}

.card-form-register-header {
    background-color: white !important;
    border-radius: 5px !important;
    padding: 49px 69px 49px 69px !important;
    max-width: 624px !important;
    max-height: 730px !important;
    margin-top: 40px !important;
}

.input-register-custom {
    background: #FEFFFF !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 9px !important;
    height: 69px;
    padding: 24px;
}

.btn-submit-register {
    background-color: #542FDF !important;
    color: white !important;
    border-radius: 9px !important;
    height: 71px !important;
    width: 100% !important;
    font-size: 18px !important;
}

.message-header {
    color: white !important;
    font-size: 24px;
    line-height: 28px !important;
}

.bg-message-header-mobile {
    display: none !important;
}


.bg-make-yout-registration {
    background-color: #542FDF !important;
    height: fit-content !important;
    padding: 200px 40px 200px 40px !important;
    margin-top: 100px !important;
}

.card-make-your-registration {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 45px 27px 45px 27px;
    width: 100% !important;
}

.faca-seu-cadastro-text {
    color: #542FDF !important;
    margin-top: 30px !important;
}


.bg-commom-question {
    background-color: #231F20;
    height: fit-content !important;
    padding: 131px 20px 131px 20px !important;
}

.div-line-common-question {
    border-bottom: 1px solid gray;
    margin-top: 31px !important;
}

.space-footer {
    padding-top: 97px !important;
}

.div-line-footer {
    border-bottom: 1px solid #B0B1B4 !important;
    margin: 25px 0px 25px 0px;
}

.text-make-your-registration-first {
    min-height: 191px !important;
}

.icon-aboute-right {
    max-width: 52px !important;
}

// tool´S
.img-partner-mobile {
    display: none !important;
}

.text-align-center {
    text-align: -webkit-center;
}

.text-align-left {
    text-align: -webkit-left;
}

.text-align-right {
    text-align: -webkit-right;
}

.max-w-1700 {
    max-width: 1700px;
}

.d-grid {
    display: grid;
}

/* fonts */

.fw-800 {
    font-weight: 800 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

/* size-fonts */
.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-34 {
    font-size: 34px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-48 {
    font-size: 48px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-90 {
    font-size: 90px;
}

.line-15 {
    line-height: 15px !important;
}

.line-18 {
    line-height: 18px !important;
}

.line-20 {
    line-height: 20px !important;
}

.line-24 {
    line-height: 24px !important;
}

.line-26 {
    line-height: 26px !important;
}

.line-32 {
    line-height: 32px !important;
}

.line-34 {
    line-height: 34px !important;
}

.line-44 {
    line-height: 44px !important;
}

.line-50 {
    line-height: 50px !important;
}

.line-56 {
    line-height: 56px !important;
}

.line-70 {
    line-height: 70px !important;
}

// header
.card-info-header {
    background-color: #542FDF !important;
    max-width: 622px;
    padding: 56px 48px;
    position: relative;
    top: 16rem;
}

.pop-up-mobile {
    display: none;
}

// important image
.important-img-text-mobile {
    display: none;
}

.card-illustration-top {
    background-image: url(./assets/image/asian-couple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 506px;
    height: 400px;
}

.card-illustration-down {
    background-image: url(./assets/image/block-blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 506px;
    height: 400px;
}

.col-camera-men {
    padding: 17rem 4rem 4rem;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.icon-camera {
    position: absolute;
    margin-top: 305px;
    margin-left: 81%;
}

.border-5 {
    border-radius: 5px;
}

.border-100 {
    border-radius: 100px;
}

// CARD-PHOTO
.card-photo {
    width: 305px;
    height: 315px;
}

// SUB-WITH-US
.bg-sub-with-us {
    background-image: url(./assets/image/img-sub-withus.png);
    background-size: contain !important;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat !important;
}

.card-sub-with-us {
    background: #542FDF;
    text-align: center;
    margin-top: -113px;
    padding: 96px;
    max-width: 740px;
}

.btn-photos-sub {
    background: white;
    border-radius: 9px;
    height: 71px;
    width: 100%;
}

.row-photos-sub {
    background: #542FDF;
    height: 650px;
}

// CARD-SWIPER
.card-swiper {
    padding: 28px 30px;
    height: 360px;
}

.face-card {
    height: 100px;
    width: 100px;
    border-radius: 10rem;
}

.person1 {
    background-image: url(./assets/image/person1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.person2 {
    background-image: url(./assets/image/person2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.person3 {
    background-image: url(./assets/image/person3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.text-purple {
    color: #4C3778;
}

.text-blue {
    color: #542FDF !important;
}

.text-darkblue {
    color: #1D263A !important;
}

.border-08 {
    border-radius: 8px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    top: 0 !important;
    left: 87%;
    width: 100px;
}

.swiper-pagination-bullet {
    background: rgb(175, 175, 175) !important;
}

.swiper-pagination-bullet-active {
    background-color: #542FDF !important;
    transition: .2s;
    width: 20px;
    border-radius: 6px;
}

.top-48 {
    top: 58px;
}

.top-131 {
    top: 131px;
}


.right-0 {
    right: 0;
}


.d-none {
    display: none;
}

// GALLERY-VIEW
.section-gallery-view {
    background: #231F20;
    padding: 0;
}


.partner-big-img {
    height: 573px;
}

.partner-img-3 {
    background-image: url(./assets/image/room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 263px;
}

.partner-img-4 {
    background-image: url(./assets/image/socks.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 263px;
}


.block-blue {
    max-width: 243px;
    height: 214px;
    background-color: #542FDF;
}

// INFO-CARD
.bg-paisage {
    background-image: url(./assets/image/img-card-page.png);
    background-size: cover !important;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat !important;
}

.col-photos-sub:nth-child(1) {
    padding: 0 10% 0 10%;
}

// ABOUT

.bg-about-page {
    background-image: url(./assets/image/bg-about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 686px;
}

.title-about {
    padding: 4%;
    background-color: #542FDF;
    top: 80%;
    left: 8%;
    z-index: 10;
}

.card-img-about {
    position: absolute;
    width: auto;
    bottom: -296px;
    right: 8%;
    max-height: 665px;
    z-index: 1;
}


.k-logo {
    max-height: 665px;
    width: auto;
}



@media (max-width: 1350px) {
    .block {
        display: block !important;
    }

    .w-full {
        flex: 0 0 auto !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .k-logo {
        width: auto !important;
        height: auto !important;
    }

    .card-img-about {
        position: relative;
        width: auto;
        right: 0;
        bottom: 163px;
        max-height: 665px;
    }

    .card-img-office {
        width: 100%;
    }

    .col-office {
        text-align: center !important;
        height: fit-content !important;
    }


}

@media(max-width: 1233px) {
    .row-important-image {
        display: block !important;
    }

    // HEADER
    .bg-header {
        background-image: url(./assets/image/img-header.png) !important;
        background-position: left !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 1400px !important;
    }

    .card-info-header {
        background-color: #542FDF !important;
        padding: 56px 48px;
        width: 100%;
        position: relative;
        top: 0;
        max-width: 100%;
    }

    .pop-up {
        top: -170px;
        position: relative;
    }

    .custom-content-header {
        margin-top: 10rem !important;
        display: block !important;
        flex-direction: column-reverse !important;
    }

    .col-full {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 1rem 0 !important;
        text-align: -webkit-center;
    }

    // IMPORT-IMG
    .card-illustration-down,
    .card-illustration-top {
        width: 100% !important;
        height: 833px !important;
    }

    .row-import {
        padding: 0 13%;
    }

    // GALLERY-VIEW

    .partner-img-3 {
        background-image: url(./assets/image/room.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 463px;
    }

    .partner-img-4 {
        background-image: url(./assets/image/socks.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 463px;
    }

    // CAR-INFO
    .bg-paisage {
        background-image: url(./assets/image/img-card-page.png);
        background-size: cover !important;
        height: 896px;
        background-position: center;
        background-repeat: no-repeat !important;
    }
}

@media (max-width: 991px) {

    // tools
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .col-photos-sub:nth-child(1) {
        padding-left: 5% !important;
        padding-right: 0 !important;
    }


    .col-lg-12 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .row-block {
        display: block !important;
    }

    .col-full {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 1rem 0 !important;
        text-align: -webkit-center;
    }

    .bg-paisage {
        background-image: url(./assets/image/img-card-page.png);
        background-size: cover !important;
        height: 1000px;
        background-position: center;
        background-repeat: no-repeat !important;
    }

    .card-photo {
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 1rem;
        height: 315px;
    }

    .just-content {
        justify-content: center !important;
    }

    .col-camera-men {
        padding: 2rem 0rem;
    }

    .imgs {
        height: auto !important;
        max-width: 100% !important;
        padding: 0 15px;
    }

    .img-gallery-smal {
        display: block !important;
    }

    .pop-up {
        display: none;
    }

    .pop-up-mobile {
        display: block;
        position: absolute;
        top: -585px;
        right: 4%;
        z-index: 10;
    }

    // HEADER
    .card-info-header {
        background-color: #542FDF !important;
        max-width: 100%;
        width: 100%;
        padding: 21px 48px;
        position: relative;
        top: 0;
    }

    .pop-up {
        top: -170px;
        position: relative;
    }


    .important-img-text-mobile {
        display: block !important;
    }

    .card-illustration-top {
        display: none !important;

    }

    .card-illustration-down {
        position: relative;
        width: 100%;
        top: -176px;
    }

    .important-img-text {
        display: none !important;
    }

    .btn-submit-register {
        display: none !important;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: absolute;
        top: 0 !important;
        left: 61%;
        width: 100px;
    }

    .card-sub-with-us {
        background: #542FDF;
        text-align: center;
        margin-top: -214px;
        padding: 15px;
        max-width: 740px;
    }

    .row-photos-sub {
        background: #542FDF;
        height: 1104px;
    }

    .col-photos-sub {
        padding-right: 15px !important;
    }


    .bg-sub-with-us {
        background: none;
        height: 0;
    }

    .img-sub-with-us {
        display: block !important;
        margin-bottom: 200px;
    }

    .block-blue {
        max-width: 367px;
        margin-top: 11%;
        height: 214px;
        background-color: #542FDF;
    }

    .img-partner-desktop {
        display: none !important;
    }

    .img-partner-mobile {
        display: block !important;
        margin-bottom: 56px !important;
    }

    .first-space-navbar {
        background-color: #01FF5F !important;
        padding-left: 50px !important;
        max-height: 60px !important;
    }

    .navbarCustom {
        max-height: 60px !important;
    }

    .img-logo-name {
        height: 20px !important;
        margin-left: 15px !important;
    }

    .img-logo {
        height: 30px !important;
    }


    .why-photograph-text {
        margin: 0 3rem !important;
    }


    .card-form-register-header {
        background-color: white !important;
        border-radius: 5px !important;
        padding: 44px 44px 0 !important;
        max-width: 624px !important;
        margin-top: 0px !important;
    }

    .bg-message-header {
        display: none !important;
    }

    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    .input-register-custom {
        background: #FEFFFF !important;
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        border-radius: 9px !important;
        height: 53px;
        padding: 24px;
    }

    .btn-submit-register {
        background-color: #542FDF !important;
        color: white !important;
        border-radius: 9px !important;
        height: 60px !important;
        font-size: 18px !important;
    }


    .message-header-mobile {
        color: white !important;
        font-size: 12.05px;
        line-height: 13.14px !important;
    }

    .display-desktop {
        display: none !important;
    }

    .card-data-about-mobile {
        background-color: #542FDF !important;
        color: white !important;
        max-width: 400px !important;
        padding: 60px 32px 60px 32px !important;
        margin-top: 40px !important;
    }

    .img-bg-right-about {
        max-height: 264px !important;
    }

    .btn-take-part {
        background-color: #542FDF !important;
        color: white !important;
        border-radius: 9px !important;
        height: 71px !important;
        width: 80% !important;
        font-size: 18px !important;
        margin-top: 80px !important;
    }

    .bg-make-yout-registration {
        background-color: #542FDF !important;
        height: fit-content !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    // IMPORT-IMG
    .card-illustration-down {
        width: 100% !important;
        height: 291px !important;
    }

    // CARD-SWIPER
    .row-cards {
        display: block !important;
    }


    // ABOUT
    .k-logo {
        width: 100% !important;
        height: auto !important;
    }

    .card-img-about {
        position: relative;
        bottom: 63px;
        max-height: 665px;
        width: 100% !important;
        height: auto !important;
    }



}


@media (max-width: 600px) {

    // HEADER
    .pop-up-mobile {
        display: block;
        position: absolute;
        top: -326px;
        right: 5%;
        z-index: 10;
    }

    .bg-header-mobile {
        display: block;
        background-image: url(./assets/image/img-header.png) !important;
        background-position: left !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 230px !important;
    }

    .bg-header {
        background-image: none !important;
        height: 1050px !important;
    }

    .card-header {
        background-color: white;
        position: absolute !important;
        bottom: 8% !important;
        margin: 0 !important;
    }

    .custom-content-header {
        margin-top: -3rem !important;
    }


    // GALLERY-VIEW
    .partner-img-3 {
        background-image: url(./assets/image/room.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 263px;
    }

    .partner-img-4 {
        background-image: url(./assets/image/socks.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 263px;
    }

}

@media (max-width: 450px) {
    .card-header div {
        top: 62px !important;
    }

    .fisrst-title-about {
        padding-top: 0rem !important;
    }
}

@media (max-width: 450px) {
    .card-header div {
        top: 82px !important;
    }

    .fisrst-title-about {
        padding-top: 3rem !important;
    }

    .text-gallery {
        margin-top: 0 !important;
    }

    .section-import {
        height: 808px;
    }

    .card-illustration-down {
        width: 100% !important;
        height: 386px !important;
    }

    .col-photos-sub:nth-child(1) {
        padding-left: 0% !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}