<section class="my-5 d-flex justify-content-center section-gallery-view">
    <div class="row h-100 max-w-1700">
        <div class="col-lg-12 py-5 text-align-left col-photos-sub ">
            <div class="w-fit pl-4">
                <h2 class="text-light pt-lg-0 fw-500 font-size-34 line-44 pt-5
                    mt-lg-0 mt-5">
                    A fotografia é um dos pilares<br/> do mercado imobiliário
                    </h2>
                    <p class="pr-lg-5 fw-400 font-size-18 line-23 text-light
                        mt-4">
                        Quem zela pela imagem de um imóvel, merece o <br/>
                            devido reconhecimento. 
                        </p>
                        <button type="submit" class="btn mt-4
                            btn-submit-register">Entre para o nosso time de
                            fotógrafos</button>
                    </div>
                </div>
                <div class="col-lg-12 col-photos-sub ">
                    <div class="row row-block mx-3">
                        <div class="col-7 col-full text-align-right">
                            <img src="../../../assets/image/kitchen.png"
                                class="w-100 partner-big-img imgs">
                        </div>
                        <div class="col-5 col-full text-align-left d-block">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <img src="../../../assets/image/living-room.png"
                                    class="w-100 imgspartner-img-2">
                                </div>
                                <div class="col-6 col-full">
                                    <div class="partner-img-3 border-5"></div>
                                </div>
                                <div class="col-6 col-full">
                                    <div class="partner-img-4 border-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>