.section-gallery-view {
    background: #231F20;
    padding: 10rem 0;
}

.partner-img-2 {
    max-width: 243px;
    height: 214px;
}

.partnet-img-1 {
    max-width: 504px;
    height: 229px;
}

.partner-big-img {
    max-width: 704px;
    height: 463px;
}

// .partner-img-3 {
//     max-width: 243px;
//     height: 214px;
// }

.block-blue {
    max-width:243px;
    height: 214px;
    background-color:#542FDF;
}