<section class="my-5 text-align-center" style="background: #231F20; padding:10rem
    0 ;">
    <div class="row container h-100">
        <div class="col-lg-12 py-5 text-align-left col-photos-sub ">
            <div class="w-fit pl-4">
                <h2 class="text-light pt-lg-0 fw-500 font-size-34 line-44 pt-5
                    mt-lg-0 mt-5">
                    A fotografia é um dos pilares<br/> do mercado imobiliário
                    </h2>
                    <p class="pr-lg-5 fw-400 font-size-18 line-23 text-light
                        mt-4">
                        Quem zela pela imagem de um imóvel, merece o <br/>
                            devido reconhecimento.
                        </p>
                        <button type="submit" class="btn mt-4
                            btn-submit-register">Entre para o nosso time de
                            fotógrafos</button>
                    </div>
                </div>
                <div class="col-lg-12 col-photos-sub ">
                    <div class="row row-block mx-3">
                        <div class="col-6 col-full text-align-right">
                            <img src="../../../assets/image/kitchen.png"
                                class="w-100 imgs" style="max-width: 704px; height:
                                463px;">
                        </div>
                        <div class="col-6 col-full  text-align-left d-block">
                            <img src="../../../assets/image/living-room.png"
                                class="w-100 imgs" style="max-width: 504px; height:
                                229px;">
                            <div class="d-flex img-gallery-smal just-content my-4" style="justify-content: left">
                                <img src="../../../assets/image/socks.png"
                                    class="mr-4 w-100 imgs " style="max-width: 243px;
                                    height: 214px;">
                                <div class="w-100  border-5" style="max-width:
                                    243px; height: 214px;background-color:
                                    #542FDF;">
                                    <p class="fw-500 font-size-20 line-26
                                        text-center text-light">
                                        Entre para o nosso time de fotógrafos
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>